pipeline/Air_Pollution.json
{
	"name": "Air_Pollution",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://OpenWeather.vault.azure.net/secrets/OpenWeatherAPI?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net/"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Air_Pollution",
						"type": "DatasetReference",
						"parameters": {
							"lat": "42.3601",
							"lon": "-71.0589",
							"start": "@div(sub(ticks(utcNow()), 315360000000000), ticks('1970-01-01T00:00:00Z'), 10000000)",
							"end": "@sub(ticks(utcNow()), 864000000000)",
							"appid": "@activity('Web1').output.value"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_Air_Pollution",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Current_Index": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}