pipeline/Historical_Weather.json
{
	"name": "Historical_Weather",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://openweather.vault.azure.net/secrets/OpenWeatherAPI/945ba958d3f544448ee21400a2abbd81?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Date_Range')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['message']"
											},
											"sink": {
												"path": "$['message']"
											}
										},
										{
											"source": {
												"path": "$['cod']"
											},
											"sink": {
												"path": "$['cod']"
											}
										},
										{
											"source": {
												"path": "$['city_id']"
											},
											"sink": {
												"path": "$['city_id']"
											}
										},
										{
											"source": {
												"path": "$['calctime']"
											},
											"sink": {
												"path": "$['calctime']"
											}
										},
										{
											"source": {
												"path": "$['cnt']"
											},
											"sink": {
												"path": "$['cnt']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['dt']"
											},
											"sink": {
												"path": "$['list'][0]['dt']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['main']['temp']"
											},
											"sink": {
												"path": "$['list'][0]['main']['temp']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['main']['feels_like']"
											},
											"sink": {
												"path": "$['list'][0]['main']['feels_like']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['main']['pressure']"
											},
											"sink": {
												"path": "$['list'][0]['main']['pressure']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['main']['humidity']"
											},
											"sink": {
												"path": "$['list'][0]['main']['humidity']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['main']['temp_min']"
											},
											"sink": {
												"path": "$['list'][0]['main']['temp_min']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['main']['temp_max']"
											},
											"sink": {
												"path": "$['list'][0]['main']['temp_max']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['wind']['speed']"
											},
											"sink": {
												"path": "$['list'][0]['wind']['speed']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['wind']['deg']"
											},
											"sink": {
												"path": "$['list'][0]['wind']['deg']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['wind']['gust']"
											},
											"sink": {
												"path": "$['list'][0]['wind']['gust']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['clouds']['all']"
											},
											"sink": {
												"path": "$['list'][0]['clouds']['all']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['weather'][0]['id']"
											},
											"sink": {
												"path": "$['list'][0]['weather'][0]['id']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['weather'][0]['main']"
											},
											"sink": {
												"path": "$['list'][0]['weather'][0]['main']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['weather'][0]['description']"
											},
											"sink": {
												"path": "$['list'][0]['weather'][0]['description']"
											}
										},
										{
											"source": {
												"path": "$['list'][0]['weather'][0]['icon']"
											},
											"sink": {
												"path": "$['list'][0]['weather'][0]['icon']"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Historical_Weather",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_Historical",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Date_Range": {
				"type": "String",
				"defaultValue": "[{ \"Start_Date\": \"2023-09-18T00:00:00Z\",                     \"End_Date\": \"2023-09-24T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-09-25T00:00:00Z\",                     \"End_Date\": \"2023-10-01T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-10-02T00:00:00Z\",                     \"End_Date\": \"2023-10-08T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-10-09T00:00:00Z\",                     \"End_Date\": \"2023-10-15T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-10-16T00:00:00Z\",                     \"End_Date\": \"2023-10-22T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-10-23T00:00:00Z\",                     \"End_Date\": \"2023-10-29T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-10-30T00:00:00Z\",                     \"End_Date\": \"2023-11-05T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-11-06T00:00:00Z\",                     \"End_Date\": \"2023-11-12T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-11-13T00:00:00Z\",                     \"End_Date\": \"2023-11-19T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-11-20T00:00:00Z\",                     \"End_Date\": \"2023-11-26T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-11-27T00:00:00Z\",                     \"End_Date\": \"2023-12-03T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-12-04T00:00:00Z\",                     \"End_Date\": \"2023-12-10T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-12-11T00:00:00Z\",                     \"End_Date\": \"2023-12-17T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-12-18T00:00:00Z\",                     \"End_Date\": \"2023-12-24T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2023-12-25T00:00:00Z\",                     \"End_Date\": \"2023-12-31T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-01-01T00:00:00Z\",                     \"End_Date\": \"2024-01-07T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-01-08T00:00:00Z\",                     \"End_Date\": \"2024-01-14T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-01-15T00:00:00Z\",                     \"End_Date\": \"2024-01-21T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-01-22T00:00:00Z\",                     \"End_Date\": \"2024-01-28T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-01-29T00:00:00Z\",                     \"End_Date\": \"2024-02-04T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-02-05T00:00:00Z\",                     \"End_Date\": \"2024-02-11T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-02-12T00:00:00Z\",                     \"End_Date\": \"2024-02-18T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-02-19T00:00:00Z\",                     \"End_Date\": \"2024-02-25T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-02-26T00:00:00Z\",                     \"End_Date\": \"2024-03-03T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-03-04T00:00:00Z\",                     \"End_Date\": \"2024-03-10T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-03-11T00:00:00Z\",                     \"End_Date\": \"2024-03-17T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-03-18T00:00:00Z\",                     \"End_Date\": \"2024-03-24T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-03-25T00:00:00Z\",                     \"End_Date\": \"2024-03-31T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-04-01T00:00:00Z\",                     \"End_Date\": \"2024-04-07T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-04-08T00:00:00Z\",                     \"End_Date\": \"2024-04-14T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-04-15T00:00:00Z\",                     \"End_Date\": \"2024-04-21T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-04-22T00:00:00Z\",                     \"End_Date\": \"2024-04-28T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-04-29T00:00:00Z\",                     \"End_Date\": \"2024-05-05T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-05-06T00:00:00Z\",                     \"End_Date\": \"2024-05-12T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-05-13T00:00:00Z\",                     \"End_Date\": \"2024-05-19T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-05-20T00:00:00Z\",                     \"End_Date\": \"2024-05-26T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-05-27T00:00:00Z\",                     \"End_Date\": \"2024-06-02T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-06-03T00:00:00Z\",                     \"End_Date\": \"2024-06-09T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-06-10T00:00:00Z\",                     \"End_Date\": \"2024-06-16T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-06-17T00:00:00Z\",                     \"End_Date\": \"2024-06-23T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-06-24T00:00:00Z\",                     \"End_Date\": \"2024-06-30T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-07-01T00:00:00Z\",                     \"End_Date\": \"2024-07-07T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-07-08T00:00:00Z\",                     \"End_Date\": \"2024-07-14T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-07-15T00:00:00Z\",                     \"End_Date\": \"2024-07-21T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-07-22T00:00:00Z\",                     \"End_Date\": \"2024-07-28T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-07-29T00:00:00Z\",                     \"End_Date\": \"2024-08-04T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-08-05T00:00:00Z\",                     \"End_Date\": \"2024-08-11T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-08-12T00:00:00Z\",                     \"End_Date\": \"2024-08-18T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-08-19T00:00:00Z\",                     \"End_Date\": \"2024-08-25T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-08-26T00:00:00Z\",                     \"End_Date\": \"2024-09-01T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-09-02T00:00:00Z\",                     \"End_Date\": \"2024-09-08T00:00:00Z\"                 },                 {                     \"Start_Date\": \"2024-09-09T00:00:00Z\",                     \"End_Date\": \"2024-09-15T00:00:00Z\"}]"
			}
		},
		"annotations": []
	}
}